<?xml version="1.0"?>
  <configuration>
  <configSections></configSections>
    <system.data>
      <DbProviderFactories>
        <remove
	invariant="System.Data.SqlServerCe.3.5"></remove>
        <add name="Microsoft
	SQL Server Compact Data Provider"
            invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data
	Provider for Microsoft SQL Server Compact"
                type="System.Data.SqlServerCe.SqlCeProviderFactory, 
			System.Data.SqlServerCe,
	Version=3.5.1.0, Culture=neutral,
                PublicKeyToken=89845dcd8080cc91"/>
      </DbProviderFactories>
    </system.data>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="System.Data.SqlServerCe"
publicKeyToken="89845dcd8080cc91" culture="neutral"/>
          <bindingRedirect
                oldVersion="3.5.1.0-3.5.1.50" newVersion="3.5.1.50"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>
  <connectionStrings>
    <add name="DistanceCalCulator.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=|DataDirectory|\Northwind.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="DistanceCalCulator.Properties.Settings.ContactsConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Contacts.accdb"
      providerName="System.Data.OleDb" />
    <add name="AirportsDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\AirportsDB.sdf&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DistanceCalCulator.Properties.Settings.AirportsDBConnectionString"
      connectionString="Data Source=|DataDirectory|\FlightPlannerDB.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

